<br />
<div *ngIf="possuiErro" class="alert alert-danger" role="alert">
	Erro obtendo dados. Tente novamente.
</div>

<div class="card">
	<div class="card-title text-center bg-success">
		Selecione a moeda a ser convertida
	</div>

	<div class="card-body align-items-center d-flex justify-content-center">
		<form #conversaoForm="ngForm" class="form-inline">
			<input 
				[(ngModel)]="conversao.valor"
				numero
				type="text" 
				name="valor" 
				class="form-control text-right" 
				placeholder="0" 
				required>

			<select 
				[(ngModel)]="conversao.moedaDe"
				name="moedaDe" 
				class="form-control" 
				required>
				<option 
					*ngFor="let moeda of moedas"
					[value]="moeda.sigla">
					{{ moeda.sigla }} - {{ moeda.descricao }}
				</option>
			</select>
			
			<span class="fas fa-arrow-right"></span>

			<select 
				[(ngModel)]="conversao.moedaPara"
				name="moedaPara" 
				class="form-control" 
				required>
				<option 
					*ngFor="let moeda of moedas"
					[value]="moeda.sigla">
					{{ moeda.sigla }} - {{ moeda.descricao }}
				</option>
			</select>

			<input 
				type="submit" 
				value="Converter" 
				class="btn btn-success"
				(click)="converter()"
				[disabled]="!conversaoForm.form.valid">
		</form>
	</div>
</div>